In [2]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [3]:
# Create engine using the `Tesla.sqlite` database file
engine = create_engine("sqlite:///Tesla.sqlite")

In [4]:
# INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector_gadget = inspect(engine)

# Collect the names of tables within the database
tables = inspector_gadget.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

supercharge_locations
-----------
Supercharger TEXT
Street Address TEXT
City TEXT
State TEXT
Country TEXT
Stalls BIGINT
kW FLOAT
Elev(m) BIGINT
Open Date DATETIME
Latitude FLOAT
Longitude FLOAT

In [14]:
#this is for the basic where the locations are 
query = f"""
        SELECT City, State, Country, COUNT(*) AS Location_Count
        FROM supercharge_locations
        GROUP BY City, State, Country
        ORDER BY Country DESC;
        """
gen_loc = pd.read_sql(text(query), con=engine)
gen_loc.head(50)

                     City             State         Country  Location_Count
0                Aberdeen          Scotland  United Kingdom               1
1             Aberystwyth             Wales  United Kingdom               1
2                Abington          Scotland  United Kingdom               1
3                Alfreton           England  United Kingdom               1
4                Aviemore          Scotland  United Kingdom               1
5                 Banbury           England  United Kingdom               1
6                Barnsley           England  United Kingdom               1
7                 Belfast  Northern Ireland  United Kingdom               1
8                 Belford           England  United Kingdom               1
9              Birmingham           England  United Kingdom               3
10      Bishops Stortford           England  United Kingdom               1
11                  Blyth           England  United Kingdom               1
12              Braintree           England  United Kingdom               1
13              Brighouse           England  United Kingdom               2
14                Bristol           England  United Kingdom               3
15             Burtonwood           England  United Kingdom               1
16                Cardiff             Wales  United Kingdom               1
17             Carmarthen           England  United Kingdom               1
18             Chelmsford           England  United Kingdom               1
19             Chippenham           England  United Kingdom               1
20                Chorley           England  United Kingdom               1
21             Colchester           England  United Kingdom               1
22                Crawley           England  United Kingdom               1
23                Croydon           England  United Kingdom               1
24               Dartford           England  United Kingdom               1
25                  Derby           England  United Kingdom               1
26                Dorking           England  United Kingdom               1
27                 Dundee          Scotland  United Kingdom               1
28                Dursley           England  United Kingdom               1
29              Edinburgh          Scotland  United Kingdom               2
30                Elveden           England  United Kingdom               1
31                Enderby           England  United Kingdom               1
32                 Exeter           England  United Kingdom               2
33                Farnham           England  United Kingdom               1
34                  Fleet           England  United Kingdom               1
35  Flint Mountain, Flint             Wales  United Kingdom               1
36             Folkestone           England  United Kingdom               1
37           Fort William          Scotland  United Kingdom               1
38               Grantham           England  United Kingdom               1
39           Gretna Green          Scotland  United Kingdom               1
40              Guildford           England  United Kingdom               1
41              Harrogate           England  United Kingdom               1
42                 Havant           England  United Kingdom               1
43       Heston, Hounslow           England  United Kingdom               2
44               Hounslow           England  United Kingdom               1
45             Hungerford           England  United Kingdom               2
46              Inverness          Scotland  United Kingdom               1
47            King's Lynn           England  United Kingdom               1
48            Knottingley           England  United Kingdom               1
49                  Leeds           England  United Kingdom               2

In [6]:
#this is for the average stalls/kw per city in a given country
query= f'''
    SELECT State, Country, AVG(Stalls) AS Average_Stalls, AVG(kW) AS Average_kW
    FROM supercharge_locations
    GROUP BY State
    ORDER BY Average_Stalls DESC, Average_kW DESC
    '''
avg_kw = pd.read_sql(text(query), con=engine)
avg_kw.head(50)

                         State      Country  Average_Stalls  Average_kW
0                        Agder       Norway       22.666667  200.000000
1                        Viken       Norway       22.631579  185.789474
2                      Utrecht  Netherlands       22.400000  230.000000
3                      Halland       Sweden       21.500000  200.000000
4                 Östergötland       Sweden       21.500000  200.000000
5                   Overijssel  Netherlands       20.000000  250.000000
6                     Bohuslän       Sweden       20.000000  210.000000
7                    Thuringia      Germany       19.500000  225.000000
8                    Innlandet       Norway       19.333333  211.111111
9                         Oslo       Norway       19.000000  250.000000
10          Schleswig-Holstein      Germany       18.400000  250.000000
11            Basel-Landschaft  Switzerland       18.000000  250.000000
12               South Holland  Netherlands       18.000000  207.142857
13             Walloon Brabant      Belgium       18.000000  200.000000
14                  Vorarlberg      Austria       18.000000  194.000000
15               Västergötland       Sweden       17.500000  200.000000
16               North Holland  Netherlands       17.333333  183.333333
17                  Syddanmark      Denmark       17.142857  221.428571
18        Trentino-South Tyrol        Italy       17.000000  200.000000
19                  Luxembourg   Luxembourg       17.000000  190.000000
20                     Limburg      Belgium       16.666667  216.666667
21     Bourgogne-Franche-Comté       France       16.500000  208.333333
22                      Berlin      Germany       16.000000  250.000000
23                     Drenthe  Netherlands       16.000000  250.000000
24                   Friesland  Netherlands       16.000000  250.000000
25  Provence-Alpes-Côte dAzur       France       16.000000  250.000000
26                  St. Gallen  Switzerland       16.000000  250.000000
27                        Bern  Switzerland       16.000000  150.000000
28                          CA          USA       15.899441  195.153631
29         Centre-Val de Loire       France       15.750000  212.500000
30                 Hälsingland       Sweden       15.666667  250.000000
31      North Rhine-Westphalia      Germany       15.647059  231.176471
32                  Gelderland  Netherlands       15.428571  192.857143
33                    Värmland       Sweden       15.200000  170.000000
34                       Namur      Belgium       15.000000  250.000000
35                      Schwyz  Switzerland       15.000000  250.000000
36                     Tuscany        Italy       15.000000  200.000000
37                    Sjælland      Denmark       15.000000  168.750000
38             Central Hungary      Hungary       14.666667  250.000000
39                       Skåne       Sweden       14.666667  216.666667
40                      Zurich  Switzerland       14.666667  216.666667
41                    Rogaland       Norway       14.500000  225.000000
42                Lower Saxony      Germany       14.380952  230.952381
43                      Veneto        Italy       14.333333  200.000000
44        Vestfold og Telemark       Norway       14.250000  208.333333
45        Rhineland-Palatinate      Germany       14.222222  194.444444
46                          AZ          USA       14.216216  192.702703
47           Baden-Württemberg      Germany       14.192308  209.230769
48                     Småland       Sweden       14.000000  233.333333
49                   Normandie       France       14.000000  225.000000

In [7]:
#this is going to be locations by countries
query = f"""
        SELECT Country, COUNT(*) AS Location_Count
        FROM supercharge_locations
        GROUP BY Country
        ORDER BY Location_Count DESC;
        """
country_loc = pd.read_sql(text(query), con=engine)
country_loc.head(50)

                 Country  Location_Count
0                    USA            1791
1                  China            1701
2                 Canada             186
3                Germany             170
4                 France             145
5            South Korea             137
6         United Kingdom             117
7                 Norway             106
8                 Taiwan              76
9                 Sweden              73
10                 Italy              71
11             Australia              60
12                 Spain              55
13                 Japan              47
14           Netherlands              42
15                Mexico              32
16           Switzerland              30
17               Austria              30
18               Finland              22
19               Denmark              20
20               Belgium              20
21                Poland              12
22               Ireland               9
23              Portugal               8
24               Iceland               8
25               Hungary               8
26        Czech Republic               7
27               Romania               6
28                Greece               6
29              Slovenia               4
30              Slovakia               4
31  United Arab Emirates               3
32              Thailand               3
33                Serbia               3
34           New Zealand               3
35            Kazakhstan               2
36                Israel               2
37              Bulgaria               2
38                Turkey               1
39                Russia               1
40            Luxembourg               1
41             Lithuania               1
42         Liechtenstein               1

In [8]:
#this is going to be states in a given country

In [9]:
#this is going to be the average stalls and kw per country

In [10]:
#this is going to be the average stalls and kw per state in a country

In [11]:
#different locations and elevations

In [12]:
#elevations and average stalls and kw

In [13]:
#map code?